/*Oceanize Custom CSS*/
div#content {
    padding-left: 15px;
    padding-right: 15px;
}
body.single.single-post div#content{
  width: 100%;
}
section.category_section {
    padding: 3.2% 0px 2%;
    box-sizing: border-box;
}
.logo-item {
  display: inline-flex;
  align-items: baseline;
  text-align: center;
}
.item1 {
  margin-right: 6.5%;
}
.item1 a>img{
  max-width:100% ;
  width: 229px;
}
.item2 {
  margin-right: 6.5%;
}
.item2 a>img{
  max-width:100% ;
  width: 237px;
}
.item3 a>img {
  max-width:100% ;
  width: 201px;
  position: relative;
  top:7px;
}
/*hover*/
.item1 a>img:hover{
opacity: 0.3;
transition: 0.3s;
}
.item2 a>img:hover{
opacity: 0.3;
transition: 0.3s;
}
.item3 a>img:hover{
opacity: 0.3;
transition: 0.3s;
}
/*=============================
  TOP Page post desing modify
 ==============================*/
form.czr-form.search-form input.form-control.czr-search-field.czr-focusable{
   font-size: 3em;
 }
 .grid-container__classic .tc-grid-caption .tc-g-cont{
      font-size: 2em;
 }
 .date-catagory {
     display: flex;
     width: 100%;
 }
 .date {
    flex-basis: 50%;
    color: #777777;
}
.cat {
    flex-basis: 50%;
    text-align: right;
}
p.home_category_link{
  margin: 0px;
  display: inline-block;
}
a.category-name.category-link {
    padding: 1px 5px;
    color: #FFF;
    vertical-align: bottom;
    margin-bottom: 5px;
}
a.category-name.category-link {
    border: transparent !important;
    outline: transparent !important;
}
a.category-name.category-link[type="1"]{
  background-color: #74beb6;
}
a.category-name.category-link[type="3"]{
  background-color: #e18395;
}
a.category-name.category-link[type="4"]{
  background-color: #d680aa;
}
a.category-name.category-link[type="5"]{
  background-color: #ddd180;
}
a.category-name.category-link[type="6"]{
  background-color: #acc780;
}
a.category-name.category-link[type="8"]{
  background-color: #25adc6;
}
a.category-name.category-link[type="9"]{
  background-color: #9d71a7;
}
.all-category{
 text-align: center;
 clear: both;
}
.all-category >a {
  margin: 0px 5px 10px;
  display: inline-block;
}
footer.post-footer.fb_likes{
  overflow: hidden;
}
/*=============================
  Details page  Page post desing modify
 ==============================*/
a.category-name.category-link:after {
    content: '' !important;
    clear: both;
}
p.category_link_ {
    margin: 0;
    color: #fff;
}
.tax__container a:not(:last-of-type) {
    margin-right: 1em !important;
}
/*=============================
  Footer Menu style
 ==============================*/
 .footer-nav {
   width: 100%;
   margin-top: 10px;
 }
 .footer-nav li {
     display: inline;
     font-size: 30px;
 }
 .footer-nav li a{
    color: #FFF !important;
 }
 .footer-nav li a:hover{
    color: #666 !important;
    transition: 0.3s;
 }
.footer-nav li:after{
  content: '|';
  padding: 0px 10px;
}
.footer-nav li:last-child:after{
  content: '';
  clear: both;
}
a.czr-copyright-link.no-link{
    pointer-events: none;
}
/*=============================
  For SP
 ==============================*/
@media screen and (max-width:768px) {
  h3.czrs-subtitle.semi-bold{
    line-height: 20px !important;
  }
  .item3 a>img {
    position: relative;
    top:3px;
  }
  .logo-item {
    width: 100%;
  }
  .item1 {
    margin-left: 0px;
  }
  .footer-nav li{
    font-size: 14px;
  }
  .related-posts_nav.col.col-auto{
    display: none;
  }
  a.category-name.category-link {
    padding: 1px 7px;
  }

}
